#special {
    background: #000;
    min-height: 100vh;
  }
  
  #special .heading h1 {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  #special .heading h1 span {
    color: #f81504;
  }
  
  #special .heading p {
    color: #ccc;
    font-size: 2rem;
  }
  
  #special .card-container {
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  #special .card-container .card {
    height: 40rem;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
  
  #special .card-container .card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
  
  #special .card-container .card p {
    font-size: 1.4rem;
    margin: 2rem 0;
  }
  
  #special .card-container .card button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3.5rem;
    width: 14rem;
    background: #333;
    color: #fff;
  }
  
  #special .card-container .card button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #f81504;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
  }
  
  #special .card-container .card button:hover::before {
    width: 100%;
  }
  
  #special .card-container .card button:hover {
    color: #333;
  }
  
  #special .card-container .card:hover {
    transform: scale(0.9);
  }
  